body {
  background: linear-gradient(to bottom right, #FFF7BC, #F9F9F9);
  color: #40514E;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Josefin Slab', serif;
}


hr {
  border: dotted 6px;
  border-color: #D8D2CB;
  border-style: none none dotted;
  width: 10%;
  margin: 50px auto 50px auto;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 70px;
}

p {
  font-family: 'Quicksand', sans-serif;
}

.nav-item {
  padding: 0 18px;
  text-align: right;
  margin: 5% 5% 5%;
  font-weight: bold;
}

.nav-link {
  color: #40514E;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px 10px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.nav-link:hover, .nav-link:focus {
  color: #CDDEFF;
}


.egypt {
  float: right;
  height: 400px;
  width: 700px;
  border-radius: 5%;
  text-align: left;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  margin-bottom: 50px;
  object-fit: cover;
}

.header {
  width: 75%;
  margin: 100px auto 100px auto;
  text-align: left;
  font-family: 'Josefin Slab', serif;
}

.spacing {
  margin: 100px auto 100px auto;
  height: 100px;
}

.middle-container {
  width: 65%;
  margin: 100px auto 100px auto;
  text-align: left;
  font-family: 'Josefin Slab', serif;
}

.company {
  float: left;
  height: 200px;
  width: 300px;
  border-radius: 5%;
  text-align: right;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
  object-fit: cover;
}

.container-fluid{
  padding: 50px 20px;
  text-align: center;

}

/* Sections */


.white-section {
  background: linear-gradient(to bottom right, #FFF7BC, #F9F9F9);

}


.social-icon:hover {
  color: #CDDEFF;
}

.footer-link {
  color: #40514E;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover, .footer-link:focus {
  color: #CDDEFF;
}


#myBtn {
  background: #99cff0;
  background-image: -webkit-linear-gradient(top, #FFF7BC, #CDDEFF);
  background-image: -moz-linear-gradient(top, #FFF7BC, #CDDEFF);
  background-image: -ms-linear-gradient(top, #FFF7BC, #CDDEFF);
  background-image: -o-linear-gradient(top, #FFF7BC, #CDDEFF);
  background-image: linear-gradient(to bottom, #FFF7BC, #CDDEFF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn:hover, #myBtn:focus {
  background: #3cfc73;
  background-image: -webkit-linear-gradient(top, #FFF7BC, #aaebab);
  background-image: -moz-linear-gradient(top, #FFF7BC, #aaebab);
  background-image: -ms-linear-gradient(top, #FFF7BC, #aaebab);
  background-image: -o-linear-gradient(top, #FFF7BC, #aaebab);
  background-image: linear-gradient(to bottom, #FFF7BC, #aaebab);
  text-decoration: none;
}
